body{
	margin: 0;
	padding: 0;
	
}

/* AQUI FICA A PARTE DO CABEÇAHO*/

.container{
	display: flex;
	background-color:black;
	height: 80px;
	max-width: 100%;
	position: fixed;
	z-index: 10;
	width: 1349px;
}

.container_Interno{
	width: 1200px;
	height: 80px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	
}

.logo img{
	margin-top: 15px;
}

/*MENÚ DESKTOP*/


#Menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	transition: 0.5s;
	
}

#Menu ul li a{
	text-decoration: none;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	
}

#Menu ul li{
	float: left;
	line-height: 80px;
	margin-left:30px ;
}


 #Menu ul li a.active{
	 padding: 10px;
	background-color: goldenrod;
}
#Menu ul li a:hover{
	background-color: goldenrod ;
	padding: 10px;
	transition:0.5s;
	
}

/*MENU MOBILE*/

 .Menu_Mobile{
	display: none;
	
}



/*REDES SOCIAIS*/

.Social{
	color: white;
	display: flex;
	width: 100px;
}

.icone{
	margin: auto;
}

.icone img{
	margin-right: 10px;
}

.icone img:hover{
	width: 30px;
	height: 30px;
	transition: 0.3s;
}


/*AREA SLIDE*/


.SlideShow{
	max-width:100%;
	margin: auto;
}
.swiper-container {
	width: 100%;
	padding-left: 100px;
	height: 500px;
}


/*ÁREA DO CORPO DO SITE*/


/*ÁREA VISUAL MODELOS*/

.visual_Modelos{
	display: flex;
	max-width: 100%;
}

.container_Modelos{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	margin:auto;
	color: wheat;
	flex-wrap: wrap;
	margin-top:50px;
	margin-bottom: 50px;

	
	
}

.container_Modelos img{
	opacity: 80%;
	transition: 1s;
}

.container_Modelos img:hover{
	opacity: 100%;
	padding-bottom: 60px;
	
	
}


/*ÁREA SOBRE*/

.Sobre{
	display: flex;
	max-width: 100%;
	height: 400px;
	background-color: black;
}

.sobre_Interno{
	display: flex;
	align-items: center;
	width: 1200px;
	margin:auto;
	height:400px;
	
	
}

.Imagem_Sobre img{
	height:318px;
}





.Texto_Sobre{
	padding-left: 23px;
	height: 271px;
	width: 100%;
	color: white;
	font-family: Arial;
}

.Texto_Sobre .Texto_Info{
	text-align: justify;
	font-size: 16x;
}


/*ÁREA DESCONTO*/

#Desconto{
	display: flex;
	width: 100%;
	height: 400px;
	background-color: #333333;
}

.Container_Desconto{
	display: flex;
	width: 1200px;
	margin:auto;
	height:400px;
	
}

/*IMAGEM DESCONTO*/

.Container_Desconto .Imagem_Desconto{
		margin-left: 20px;
}


/*TEXTO DESCONTO*/

.Texto_Desconto{
	margin-top: 40px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-align: justify;
}

.Texto_Desconto .Texto_Visite{
	margin-top: 40px;
}

.Texto_Desconto h1{
	font-size:40px;
	line-height: 50px;
}


/*ÁREA SERVIÇOS*/

#Servicos{
	display: flex;
	max-width: 100%;
	background-color:black;
}

.Container_Servicos{
	max-width: 100%;
	margin:auto;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	
}

/*ÁREA DA DESCRIÇÃO DE SERVIÇOS/TODOS OS SERVIÇOS*/

.Container_Descrição_Servicos{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 50px;
	
}

.Container_Servicos h1{
	width: 100%;
	height: 40px;
	margin-top: 73px;
	text-align: center;
	font-size: 24px;
	
}




/*ÁREA SERVIÇOS ITERNO*/

.Servicos_Interno{
	display: flex;
	margin-top: 50px;
	width: 464px;
	height: 223px;
	
}



/*SEÇÃO MAQUIAGEM*/

#Maquiagem{
	background-color:#333333;
	padding: 17px;
}

#Maquiagem h2{
	 margin-top:29px;
}

/*BARBEIRO*/

#Barbeiro {
	display: flex;
    justify-content: center;
	align-items: center;
	background-color:#1F1E1E;;
}
/*SEÇÃO CABELELEIRO*/
#Cabeleleiro{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
	background-color: #333333;
	padding: 50px;
}

/*SEÇÃO COSMETICOS*/

#Cosmetico .Servicos_Interno{
	margin: auto;
}


/*IMAGEM SERVIÇOS*/

.Servicos_Imagem{
	height: 100%;
	width:121px;
	
}

/*IMAGEM TEXTO*/
.Servicos_Imagem img{
	padding-top: 20px;
}

/*TEXTO SERVIÇOS*/

.Texto_Servicos{
	padding-left: 29px;
}

.Texto_Servicos h2{
	margin-top: 40px;
	padding-left: 10px;
	font-size: 17px;

}

/*DESCRIÇÃO DO TEXTO*/

.Texto_Descricao{
	margin-top: 20px;
	padding-left: 10px;
}



/*ÁRE FOOTER*/

footer{
	width: 100%;
	background-color: #1C2632;
}

footer .container_footer{
	width: 100%;
	margin: auto;
	max-width: 1200px;
	height: 283px;
}

.logo_footer{
	margin: auto;
	padding-top: 40px;
	width: 152px;
	height: 127px;

}

.logo_footer img{
	margin: auto;
	height: 127px;
	width: 152px;
}

.Contato_footer{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 75%;
	margin: auto;
	margin-top: 42px;
	color: white;

}

.footer_informacao{
	align-items: center;
	display: flex;
	
	
}

.endereco{
	padding-left: 10px;
}

.footer_informacao img{
	width: 30px;
	height: 30px;
}









/*AREA REPONSIVA*/


/*Desktop*/

@media(max-width: 1024px){
	.visual_Modelos{
		padding: 28px;
	}
	.Texto_Sobre .Texto_Info{
		width: 428px;
	}

	.Texto_Desconto h1{
		margin-left: 30px;
	}

	.Texto_Desconto{
		margin-left: 30px;
	}

	.Servicos_Interno{
		margin: auto;
	}
}



/*Tablete*/
@media(max-width:968px){

	#Menu ul li a.active{
		padding:4px;
	}
	/*CONTAINER MODELOS*/
	.container_Modelos{
		justify-content: center;
		flex-direction: column;
	}
	.container_Modelos img{
		padding-top: 13px;
	}

	/*ÁREA SOBRE*/

	.Texto_Sobre .Texto_Info{
		width:90%;
		text-align: justify;
	}
	.Imagem_Sobre img{
		display: none;
	}
	

	/*ÁREA DESCONTO*/
	.Container_Desconto .Imagem_Desconto img{
		width: 250px;
		margin-top: 64px;
	}
	.logo img{
		padding-left: 10px;
	}

	.Texto_Desconto h1{
		font-size: 20px;
		line-height: 30px;
	}
	.Texto_Desconto{
		margin-left: 3px;
		margin-top: 18px;
	}

	.Texto_Desconto p{
		margin-left: 37px;
	}

    /*SERVIÇOS*/
	.Servicos_Interno{
		margin:auto
	}

	.Container_Servicos h1{
		margin: 10px;
		padding: 20px;
	}

	.Contato_footer{
		height: 98px;
	}

	footer .container_footer{
		height: 364px;
	}
}


/*MOBILE*/

@media (max-width:425px){
	.Social{
		display: none;
	}
	#Menu ul{
		display: none;
		flex-direction: column;
		width: 411px;
		height: 303px;
		background-color:black;
		text-align: center;
		position: relative;
		margin-left: -74px;
		margin-top: 16px;
	
	}

	#Menu ul li{
		margin-left: 0px;
	}


	.logo img{
		width: 60px;
		height: 60px;
		padding-left: 10px;
	}

	/*MODEBILE*/
	.Menu_Mobile{
		display: block;
		margin-top: 18px;
	}
	.Menu_Mobile img{
		margin-left: 203px;

	}

	.container{
		position: fixed;
		z-index: 10;
		margin-top: -80px;
	}

	.container_Interno{
		width: 413px;;
		z-index: 10;
	}

	.swiper-container{
		margin-top: 80px;
		height: 300px;
	}

	.container_Modelos img{
		width: 200px;
		height: 300px;
	}

	.container_Modelos{
		justify-content: center;
	}
	/*AREA SOBRE*/
	.Texto_Sobre .Texto_Info{
		width: 91%;
	}
	.Imagem_Sobre img{
		display: none;
	}

	/*SERVIÇOS GERAL*/

	.Container_Servicos h1{
		margin:0px;
		padding: 0px;
		margin-top: 26px;
		font-size: 18px;
	}

	/*AREA SERVIÇOS MAQUIAGEM*/

	#Maquiagem .Servicos_Imagem{
		width: 23%;
	}

	#Maquiagem .Servicos_Imagem img{
		height: 70px;
		padding-left: 10px;
	}

	#Maquiagem .Texto_Servicos{
		padding-left: 0px;
	}

	#Maquiagem .Texto_Descricao{
		font-size: 15px;
		width: 279px;
	}



	#Maquiagem .Container_Descrição_Servicos{
		justify-content: center;
		padding: 0px;
	}


	#Maquiagem .Texto_Servicos h2{
		font-size: 15px;
	}


	/*SERVIÇOS BARBEIRO*/

	#Barbeiro .Servicos_Imagem img{
		height: 70px;
		padding-left: 10px;
	}

	#Barbeiro .Texto_Servicos{
		padding-left: 15px;
	}
   
	/*SERVICOS CABELELEIRO*/

	#Cabeleleiro{
		padding: 0px;
	}


   #Cabeleleiro .Servicos_Interno{
		
   }

	#Cabeleleiro .Texto_Servicos h2 {
		font-size: 15px;
	}

	#Cabeleleiro .Servicos_Imagem img{
		height: 70px;
		padding-left: 10px;
	}

	.Container_Desconto .Imagem_Desconto img{
		display: none;
	}

	/*FOOTER*/

	.footer_informacao{
		margin-bottom: 10px;
		
	}

	.Contato_footer{
		margin-top: 4px;
		justify-content: center;
	}

	.logo_footer{
		width: 82px;
	}

	.logo_footer img{
		width: 108px;
		height: 100px;
	}
	.footer_informacao img{
		width: 24px;
		height: 24px;
	}
}


@media(max-width:320px){

}





